body{
    font-family: Arial, Helvetica, sans-serif;
   background: url('../imagen/fondo3navidad.jpg');
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 10px;


}
.logo{
  width: auto;
  height: auto;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
.Texto{
    text-align: center;
    color: #000000;
    font-size: 15px;
}
.Encabezado{
  text-align: center;
  color: #444;
  font-size: 25px;


}
.Contenedor {
    grid-template-areas: "encabezado "
                        "barra_lateral "
                        "button2";
}
.Lectura{
  text-align: justify;
  color: Black;
  font-size: 25px;
  margin: -250px 60px 100px 50%;
  border-radius: 30px;
  background-color: #F95CE3;
  box-shadow: 0 0 30px #090603;
}

.barra_lateral{
width: 50%
height: 50%;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 25px;
    background:  #1a2537;
    padding: 10px 205px;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
.button1{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 9.8px 185px;
    border-radius: 20px;
    cursor: pointer;
}
.button2{
  color: #000;
  font-size: 20px;
  background:  #D7BDE2;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: solid 1px #000

}
.button3{
    color: #000;
    font-size: 20px;
    background:  #D7BDE2;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: solid 1px #000
}
.Iniciar{
  margin: 7px 1px 10px 68%;
}
.pie {
  background-color: rgba(20,18,26,0.6);
  padding: 30px;
  text-align: center;
  color: white;
}
.button2:hover{
  background:#E8DAEF;
}
.button3:hover{
  background:#E8DAEF;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
    *, *:before, *:after {
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg-calendar: #1b1e22;
    --color-cell: #e3e3e3;
    --color-cell-disabled: #424649;
}

.root {
    min-height: 30vh;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    padding: 20px 10px;
    background-color: var(--color-bg-calendar);
    border-radius: 3px;
    width: 100%;
    max-width: 500px;
    font-family: sans-serif;
}

.calendar__header {
    color: white;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.calendar .control {
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.grid__header, .grid__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid__header {
    color: white;
    margin-bottom: 20px;
}

.grid__body {
    grid-auto-rows: 40px;
    color: var(--color-cell);
}

.grid__cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__cell--gd {
    cursor: pointer;
}

.grid__cell--selected {
    color: var(--color-bg-calendar);
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 0 2px var(--color-bg-calendar) inset;
}

.grid__cell--disabled {
    color: var(--color-cell-disabled);
    cursor: not-allowed;
}
.title {
  text-align: center;
  color: #444;
}
.img{
  border-radius:30px
}
