body {
  background: #F3771C;
}

.contenedor{
  margin: 7% auto;
  width: 500px;
  border-radius: 2px;
  background-color: #151517;
  box-shadow: 0 0 150px #79EA4B;
}

.encabezado{
 padding-top: 5px;
 text-align: center;
}

.encabezado h1{
font-size: 25px;
font-family: inherit;
margin-bottom: 25px;
color: white;
}

.evento{
  text-align: center;
}

.evento input {
  margin-bottom: 35px;
  width: 400px;
  padding: 10px;
  font-size: ;
}

#main-container{
padding-top: 30px;
text-align: center;
}

.btn{
border-radius: 3px;
display: inline-block;
padding: 20px 15px;
text-decoration: none;
text-shadow: 0 1px 0 rgba(255,255,255,0.3);
box-shadow: 0 1px 1px rgba(0,0,0,0.3);
margin-bottom: 15px;
}
.Orange{

color: white;
background-color: #D35400;
}
.Orange:hover{
background-color: #F16C1B;
}
.Orange:active{
background-color: #F1DE1B;
}
.btn-red{
color: white;
background-color: #F52626;
margin-right: 145px;
}
.btn-red:hover{
background-color: #F16C1B;
}
.btn-red:active{
background-color: #F1DE1B;
}

.btn-blue{
color: white;
background-color: #0F71EF;
margin-left: 145px;
}
.btn-blue:hover{
background-color: #3FF11B;
}
.btn-blue:active{
background-color: #57EAA1;
}
